<%- include("partials/header"); -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="" class="form-label">Title</label>
    <input type="text" class="form-control" name="blogTitle" value="">
    <label for="" class="form-label">Post</label>
    <textarea name="blogBody" class="form-control" rows="8" cols="80"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="publish">Publish</button>
  </form>

<%- include("partials/footer"); -%>
